# Plantilla para el Pre Procesado de Datos - Datos Categóricos

## Importar el dataset

In [1]:
dataset = read.csv('Data.csv', stringsAsFactors = F)

In [2]:
dataset

   Country Age Salary Purchased
1  France  44  72000  No
2  Spain   27  48000  Yes
3  Germany 30  54000  No
4  Spain   38  61000  No
5  Germany 40     NA  Yes
6  France  35  58000  Yes
7  Spain   NA  52000  No
8  France  48  79000  Yes
9  Germany 50  83000  No
10 France  37  67000  Yes

In [3]:
str(dataset)

'data.frame':	10 obs. of  4 variables:
 $ Country  : chr  "France" "Spain" "Germany" "Spain" ...
 $ Age      : int  44 27 30 38 40 35 NA 48 50 37
 $ Salary   : int  72000 48000 54000 61000 NA 58000 52000 79000 83000 67000
 $ Purchased: chr  "No" "Yes" "No" "No" ...

In [4]:
# Codificar las variables categóricas
dataset$Country = factor(dataset$Country,
                         levels = c("France", "Spain", "Germany"),
                         labels = c(1, 2, 3))

dataset$Country

 [1] 1 2 3 2 3 1 2 1 3 1
Levels: 1 2 3

In [5]:
dataset$Purchased = factor(dataset$Purchased,
                           levels = c("No", "Yes"),
                           labels = c(0,1))
str(dataset)

'data.frame':	10 obs. of  4 variables:
 $ Country  : Factor w/ 3 levels "1","2","3": 1 2 3 2 3 1 2 1 3 1
 $ Age      : int  44 27 30 38 40 35 NA 48 50 37
 $ Salary   : int  72000 48000 54000 61000 NA 58000 52000 79000 83000 67000
 $ Purchased: Factor w/ 2 levels "0","1": 1 2 1 1 2 2 1 2 1 2

In [6]:
dataset

   Country Age Salary Purchased
1  1       44  72000  0
2  2       27  48000  1
3  3       30  54000  0
4  2       38  61000  0
5  3       40     NA  1
6  1       35  58000  1
7  2       NA  52000  0
8  1       48  79000  1
9  3       50  83000  0
10 1       37  67000  1