# Damos acceso a nuestro Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# Test it

In [ ]:
!ls '/content/drive/My Drive'

#Google colab tools

In [ ]:
from google.colab import files # Para manejar los archivos y, por ejemplo, exportar a su navegador
import glob # Para manejar los archivos y, por ejemplo, exportar a su navegador
from google.colab import drive # Montar tu Google drive

# Plantilla de Pre Procesado

# Cómo importar las librerías

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importar el data set

In [2]:
dataset = pd.read_csv('Data.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 3].values
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

# Tratamiento de los NAs

In [3]:
from sklearn.impute import SimpleImputer

In [5]:
imputer   = SimpleImputer(missing_values = np.nan, strategy = "mean")
imputer   = imputer.fit(X[:,1:3]) 
X[:, 1:3] = imputer.transform(X[:,1:3])
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

# Codificar datos categoricos

In [6]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [7]:
labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])

In [8]:
ct = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(categories='auto'), [0])],   
    remainder='passthrough'                        
)

In [10]:
X = np.array(ct.fit_transform(X), dtype=np.float32)
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

# Dividir el data set en conjunto de entrenamiento y conjunto de testing

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Escalado de variables

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
sc_X    = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test  = sc_X.transform(X_test)
print(X_train.shape)
print(X_test.shape)

(8, 5)
(2, 5)

In [15]:
result_Xtrain = pd.DataFrame({'Column1': X_train[:, 0], 'Column2': X_train[:, 1],'Column3': X_train[:, 2], 'Column4': X_train[:, 3],'Column5': X_train[:, 4]})

In [16]:
display(result_Xtrain)

   Column1   Column2   Column3   Column4   Column5
0     -1.0  2.645751 -0.774597  0.263068  0.123815
1      1.0 -0.377964 -0.774597 -0.253502  0.461756
2     -1.0 -0.377964  1.290994 -1.975398 -1.530933
3     -1.0 -0.377964  1.290994  0.052614 -1.111420
4      1.0 -0.377964 -0.774597  1.640585  1.720297
5     -1.0 -0.377964  1.290994 -0.081312 -0.167514
6      1.0 -0.377964 -0.774597  0.951826  0.986148
7      1.0 -0.377964 -0.774597 -0.597881 -0.482149

In [17]:
result_X_test = pd.DataFrame({'Column1': X_test[:, 0], 'Column2': X_test[:, 1],'Column3': X_test[:, 2], 'Column4': X_test[:, 3],'Column5': X_test[:, 4]})

In [18]:
display(result_X_test)

   Column1   Column2   Column3   Column4   Column5
0     -1.0  2.645751 -0.774597 -1.458829 -0.901663
1     -1.0  2.645751 -0.774597  1.984964  2.139811