# Plantilla para el Pre Procesado de Datos

In [1]:
dataset = read.csv('Data.csv')

In [2]:
dataset

   Country Age Salary Purchased
1  France  44  72000  No
2  Spain   27  48000  Yes
3  Germany 30  54000  No
4  Spain   38  61000  No
5  Germany 40     NA  Yes
6  France  35  58000  Yes
7  Spain   NA  52000  No
8  France  48  79000  Yes
9  Germany 50  83000  No
10 France  37  67000  Yes

In [3]:
dataset_1 <- dataset[, 2:3]

In [4]:
dataset_1

   Age Salary
1  44  72000
2  27  48000
3  30  54000
4  38  61000
5  40     NA
6  35  58000
7  NA  52000
8  48  79000
9  50  83000
10 37  67000

In [6]:
install.packages("caTools")

Installing package into ‘/home/emi/R/x86_64-pc-linux-gnu-library/4.3’
(as ‘lib’ is unspecified)

also installing the dependency ‘bitops’

In [8]:
library(caTools)
set.seed(123)
split        = sample.split(dataset$Purchased, SplitRatio = 0.8)
training_set = subset(dataset, split == TRUE)
testing_set  = subset(dataset, split == FALSE)

In [15]:
print(dim(training_set))
print(dim(testing_set))

[1] 8 4
[1] 2 4

## Escalado de valores

In [16]:
training_set[,2:3] = scale(training_set[,2:3])
testing_set[,2:3]  = scale(testing_set[,2:3])

In [17]:
training_set

   Country Age         Salary      Purchased
1  France   0.85349783  0.89253471 No
2  Spain   -1.45482585 -1.21937840 Yes
3  Germany -1.04747461 -0.69140013 No
4  Spain    0.03879536 -0.07542547 No
5  Germany  0.31036285          NA Yes
7  Spain            NA -0.86739289 No
8  France   1.39663281  1.50850937 Yes
10 France  -0.09698839  0.45255281 Yes

In [18]:
testing_set

  Country Age        Salary     Purchased
6 France  -0.7071068 -0.7071068 Yes
9 Germany  0.7071068  0.7071068 No