# Plantilla para el Pre Procesado de Datos - Datos faltantes

In [1]:

dataset = read.csv('Data.csv')

dataset

   Country Age Salary Purchased
1  France  44  72000  No
2  Spain   27  48000  Yes
3  Germany 30  54000  No
4  Spain   38  61000  No
5  Germany 40     NA  Yes
6  France  35  58000  Yes
7  Spain   NA  52000  No
8  France  48  79000  Yes
9  Germany 50  83000  No
10 France  37  67000  Yes

In [2]:

# Tratamiento de los valores NA
dataset$Age = ifelse(is.na(dataset$Age),
                     ave(dataset$Age, FUN = function(x) mean(x, na.rm = TRUE)),
                     dataset$Age)
                     
dataset

   Country Age      Salary Purchased
1  France  44.00000 72000  No
2  Spain   27.00000 48000  Yes
3  Germany 30.00000 54000  No
4  Spain   38.00000 61000  No
5  Germany 40.00000    NA  Yes
6  France  35.00000 58000  Yes
7  Spain   38.77778 52000  No
8  France  48.00000 79000  Yes
9  Germany 50.00000 83000  No
10 France  37.00000 67000  Yes

El código trata los valores NA en la variable "Age" de un conjunto de datos llamado "dataset". 

El código utiliza la función "ifelse" para verificar si cada valor de la variable "Age" es NA. Si es así, se reemplaza ese valor NA con la media de todos los valores de la variable "Age" que no sean NA. Si el valor no es NA, se mantiene sin cambios.

Paso a paso, el código hace lo siguiente:

1. Verifica si cada valor de la variable "Age" en el conjunto de datos "dataset" es NA.
2. Si el valor es NA, se ejecuta el siguiente bloque de código:
   - Utiliza la función "ave" para calcular la media de todos los valores de la variable "Age" que no sean NA. La opción "na.rm = TRUE" se utiliza para ignorar los valores NA al calcular la media.
   - Reemplaza el valor NA con la media calculada.
3. Si el valor no es NA, se mantiene sin cambios.

En resumen, el código reemplaza los valores NA en la variable "Age" del conjunto de datos "dataset" con la media de los valores no NA de esa variable.

In [ ]:
dataset$Salary = ifelse(is.na(dataset$Salary),
                        ave(dataset$Salary, FUN = function(x) mean(x, na.rm = TRUE)),
                        dataset$Salary)

El código anterior asigna un valor promedio a las celdas vacías en la columna "Salary" del conjunto de datos "dataset".

Explicación paso a paso del código:
1.  `dataset$Salary` : Accede a la columna "Salary" del conjunto de datos "dataset".
2.  `is.na(dataset$Salary)` : Verifica si cada celda de la columna "Salary" está vacía o no. Devuelve un vector lógico con valores TRUE o FALSE.
3.  `ave(dataset$Salary, FUN = function(x) mean(x, na.rm = TRUE))` : Calcula el promedio de los valores no vacíos en la columna "Salary" utilizando la función  `mean()` . La función  `ave()`  se utiliza para aplicar la función  `mean()`  a cada grupo de valores (en este caso, todos los valores no vacíos en la columna "Salary").
4.  `ifelse()` : Esta función condicional asigna un valor promedio a las celdas vacías en la columna "Salary" si la condición  `is.na(dataset$Salary)`  es verdadera, de lo contrario, mantiene el valor existente en esas celdas.
5.  `dataset$Salary = ...` : Asigna el resultado de la función  `ifelse()`  a la columna "Salary" del conjunto de datos "dataset".

En resumen, el código reemplaza los valores vacíos en la columna "Salary" del conjunto de datos "dataset" con el promedio de los valores no vacíos en esa columna.

In [3]:
dataset

   Country Age      Salary Purchased
1  France  44.00000 72000  No
2  Spain   27.00000 48000  Yes
3  Germany 30.00000 54000  No
4  Spain   38.00000 61000  No
5  Germany 40.00000    NA  Yes
6  France  35.00000 58000  Yes
7  Spain   38.77778 52000  No
8  France  48.00000 79000  Yes
9  Germany 50.00000 83000  No
10 France  37.00000 67000  Yes